<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44617144353-c782fethtj33k36klj8q6tvbja3uglem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44617144353-c782fethtj33k36klj8q6tvbja3uglem</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>44617144353-5q25eeinpj1rbkls47mmao4091pb740l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKdlD2cmHKWA_Z4Z96iFnCysVaGdGLt-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>44617144353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.o125.sparkiip</string>
	<key>PROJECT_ID</key>
	<string>sparkiip-66e6d</string>
	<key>STORAGE_BUCKET</key>
	<string>sparkiip-66e6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44617144353:ios:c8b45ec1b4ee79833deb60</string>
	<key>DATABASE_URL</key>
	<string>https://sparkiip-66e6d-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>